<!DOCTYPE html>
<html class="no-js" lang="en-US">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>An Illustrated Dive - by Ximedi</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Homemade+Apple">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://unpkg.com/purecss@2.1.0/build/pure-min.css"
    integrity="sha384-yHIFVG6ClnONEA5yB5DJXfW2/KC173DIQrYoZMEtBvGzmf0PKiGyNEqe9N6BNDBH" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/purecss@2.1.0/build/grids-responsive-min.css">

  <link rel="stylesheet" href="{{ site.baseurl }}/assets/style.css" />
</head>


<body>
  <div class="pure-g">
    <div class="nav pure-u-1 pure-u-md-1-4">
      <img src="assets/img/banner2.jpg" width="100%">
      <h1 class="brand-title">An Illustrated Dive</h1>
    </div>