---
layout: default
---

<div class="post">
  {% for sh in page.sheets %}
  <div class="sheet" x-data="{ open: false }" x-on:click="open = ! open">
    <img src="/assets/img/{{sh.img}}" loading="lazy">
    <div class="description" x-show="open" x-transition>
      <div class="text">
        {{sh.text.en | newline_to_br}}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<div>
{{ content }}
</div>